body {
	font-family: Verdana;
}

h1 {
	color: #336699;
}

.bg-blue {
	background-color: #336699;
}

.mainContainer {
	margin-top: 50px;
}

.buttonRefreshContainer {
	padding: 20px;
}

.chartDataContainer {
	margin-top: 20px;
}

.userDataContainer {
	margin-top: 20px;
}

.chart-container {
	margin-top: 20px;
}

.pie-chart-container {
	position: relative; 
	width: 40vw;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: auto;
}

.coinsContainer {
	float: left;
	background: transparent;
	margin-bottom: 15px;
	overflow: auto;
	width: 350px;
}

.buttonCoin {
	float: left;
	width: 70px;
	padding: 5px;
	margin-right: 3px;
	text-align: center;
}

.buttonCoin_selected {
	border: 1pt solid #336699;
	background: transparent;
	color: #000000;
	cursor: auto;
}

.buttonCoin_deselected {
	background: transparent;
	color: #000000;
	cursor: pointer;
}

.buttonCoin_deselected:hover {
	color: #336699;
}

.controlsContainer {
	background: transparent;
	padding: 2px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.frequencyContainer {
	background: #336699;
	padding: 2px;
	margin-bottom: 15px;
	overflow: auto;
	width: 100%;
}

.buttonFrequency {
	float: left;
	width: 50px;
	padding: 5px;
	margin-right: 3px;
	text-align: center;
}

.buttonFrequency_selected {
	background: #a0a0a0;
	color: #ffffff;
	cursor: auto;
}

.buttonFrequency_deselected {
	background: transparent;
	color: #3dbdc6;
	cursor: pointer;
}

.buttonFrequency_deselected:hover {
	color: #fff;
}

.pricesDataContainer {
}

.currentPrice {
	float: left;
	border: solid 1px #336699;
	color: #336699;
	padding: 5px;
	font-size: 20pt;
	font-weight: normal;
	min-width: 150px;
	text-align: center;
}

.variationPrice {
	margin-left: 30px;
	float: left;
	border: solid 1px #336699;
	padding: 5px;
	min-width: 100px;
}

.variationPrice_value {
	float: left;
	font-size: 15pt;
	font-weight: normal;
}

.variationPercent {
	margin-left: 30px;
	float: left;
	border: solid 1px #336699;
	padding: 5px;
	min-width: 100px;
}

.variationPercent_value {
	float: left;
	font-size: 15pt;
	font-weight: normal;
}

.upDownArrow {
	float: right;
	margin-right: 10px;
	margin-left: 5px;
	font-family: Arial;
	font-weight: bold;
	font-size: 20pt;
}

.valueDown {
	color: #ce210e;
}

.valueUp {
	color: #07820f;
}

.currentVolumeTotalEur {
	background: #f4f5f7;
	color: #336699;
	min-width: 150px;
	text-align: center;
	font-weight: bold;
} 

.currentVolumeTotalEur .title {
	font-size: 13pt;
}

.currentVolumeTotalEur .value {
	font-size: 17pt;
}

.currentVolumeCoin {
	color: #336699;
	text-align: center;
	margin-top: 10px;
} 

.currentVolumeCoin .coin {
	font-size: 15pt;
}

.currentVolumeCoin .valueEur {
	font-size: 15pt;
	color: #224568;
	margin-bottom: 5px;
}

.currentVolumeCoin .valueCoin {
	font-size: 10pt;
}

.currentVolumeCoin .price {
	background: #f4f5f7;
	font-size: 12pt;
	padding: 5px;
	color: #336699;
}

.currentVolumeEur {
	color: #336699;
	min-width: 150px;
	text-align: center;
	margin-top: 10px;
}

.currentVolumeEur .title {
	font-size: 20pt;
	margin-bottom: 5px;
}

.currentVolumeEur .valueEur {
	font-size: 15pt;
	color: #224568;
}

.buttonCoin {
	display: inline;
	margin-right: 5px;
}

.buttonCoin .icon {
	width: 25px;
	height: 25px;
	display: inline;
	vertical-align: middle;
}

.buttonCoin .title {
	display: inline;
	vertical-align: middle;
}

.iconCoin {
	width: 30px;
	display: inline;
	vertical-align: middle;
}

.currentVolumeCoin .title .coin {
	display: inline;
	vertical-align: middle;
}

.buttonShowVolume {
	font-size: 10pt;
	display: inline;
}

.btn-refresh {
	background-color: #336699;
	border-color: #336699;
	cursor: pointer;
	width: 100%;
	box-shadow: none;
}

.btn-refresh:hover {
	background-color: #5386b9;
}

.btn-refresh:focus {
	box-shadow: none;
}

#buttonRefreshTimer {
	display: inline;
	background: transparent;
	width: 40px;
	overflow: visible;
}

#buttonRefreshTimer:hover {
	
}

.sectionContainer {
	border: solid 1pt #336699;
	padding: 10px;
}

.userProfitabilityContainer {
	color: #336699;
	font-size: 10pt;
}

.userProfitabilityContainer div {
	padding: 5px;
}

.userProfitabilityContainer .title {
	font-weight: bold;
	
}

.userProfitability_total {
	font-size: 15pt;
	padding: 12pt;
	background: #cecece;
}

.userProfitability_profit {
	font-size: 15pt;
	padding: 12pt;
	background: #cecece;
}

.userAccountMovementsContainer {
	overflow: auto;
}

.userAccountMovementsTableContainer {
	font-size: 10pt;
}

.userAccountMovementsTableContainer table {
	width: 100%;
}

.userAccountMovementsTableContainer table th {
	color: #fff;
	text-align: center !important;
	font-weight: bold;
}

.userAccountMovementsTableContainer table th,td {
	padding: 3px;
}

.userAccountMovementsTableContainer table td:nth-child(1) {
     text-align: center;
}

.userAccountMovementsTableContainer table td:nth-child(2) {
     text-align: right;
}

.userAccountMovementsTableContainer table caption {
	color: #ffffff;
	padding: 5px;
	font-weight: bold;
	caption-side: top;
	text-align: center;
}

.userAccountMovementsTableContainer th:nth-child(1) {
	text-align: center;
}

.userAccountMovementsTableContainer th:nth-child(2) {
	text-align: right;
}

.userAccountMovementsTableContainer table tr:nth-child(even) {
     background-color: #eee;
}

.userAccountMovementsTableContainer table tr:nth-child(odd) {
     background-color: #dadada;
}

.userAccountMovementsTableContainer table.inputs caption {
	background: #9b2909;
}

.userAccountMovementsTableContainer table.outputs caption {
	background: #0a7668;
}

.userAccountMovementsTableContainer table.inputs th {
	background: #c97c66;
}

.userAccountMovementsTableContainer table.outputs th {
	background: #0d8e7e;
}

.footerLine {
	margin-top: 40px;
}

footer {
	color: #aeaeae;
	font-size: 10pt;
}

